<!DOCTYPE html>
<html>
<head>
	<title>Face Recognition</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
	<div id="app" class="main">
		<div id="menu">
			<div class="logo">
				<img src="../static/img/icons/logo.png" class="logo-icon">
			</div>
			<div class="menu-items">
				<a href="/events">
					<div class="menu-item">
						<img src="../static/img/icons/events.png" class="menu-item-icon">
						<div class="menu-item-title">События</div>
					</div>
				</a>
				<a href="/cameras">
					<div class="menu-item">
						<img src="../static/img/icons/camera.png" class="menu-item-icon">
						<div class="menu-item-title">Камеры</div>
					</div>
                </a>
                <a href="/faces">
					<div class="menu-item select">
						<img src="../static/img/icons/people.png" class="menu-item-icon">
						<div class="menu-item-title">Лица</div>
					</div>
				</a>
			</div>
		</div>
		<div id="page">
			<div class="page-top">
				<button type="button" class="page-top-btn" v-on:click="toogleFaceEditor">Добавить</button>
				<div id="faceEditor">
					<div class="faceEditor-content">
						<form action="/save_face" method="POST" enctype="multipart/form-data" style="height: 100%;">
							<div class="faceEditor-header">
								<div class="faceEditor-caption">Добавление лица для распознавания</div>
								<div class="faceEditor-close" v-on:click="toogleFaceEditor">x</div>
							</div>
							<div class="faceEditor-body">
								<div class="faceEditor-body-photoColumn">
									<img src="../static/img/avatar.png" id="upload-photo" alt="image" />
									<button id="uploadPhotoBtn" type="button" class="faceEditor-upload" v-on:click="uploadPhoto">Выбрать файл</button>
									<input id="file-input" type="file" name="photo" style="display: none;" />
								</div>
								<div class="faceEditor-body-infoColumn">
									<div>
										<div class="faceEditor-body-infoColumn-row">
											<div class="faceEditor-body-infoColumn-row-title">Фамилия</div>
											<input id="input-lastname" type="text" name="lastname">
										</div>
										<div class="faceEditor-body-infoColumn-row">
											<div class="faceEditor-body-infoColumn-row-title">Имя</div>
											<input id="input-name" type="text" name="name">
										</div>
										<div class="faceEditor-body-infoColumn-row">
											<div class="faceEditor-body-infoColumn-row-title">Отчество</div>
											<input id="input-fathername" type="text" name="fathername">
										</div>
									</div>
									<button id="saveBtn" type="submit" class="page-top-btn" v-on:click="save">Сохранить</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="page-body">
				<div class="faces-table">
					<div v-for="item in items" class="face-info">
						<div class="face-info-content">
							<img v-bind:src="item.photo_path" class="face-info-photo">
							<div class="face-info-name">
								<div>[[ item.lastname ]]</div>
								<div>[[ item.name ]]</div>
								<div>[[ item.fathername ]]</div>
							</div>
						</div>
						<a title="Удалить" class="face-info-delete" v-on:click="deleteFaceById([[ item.face_id ]])">Удалить</a>
					</div>
				</div>
			</div>
		</div>
	</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script type="text/javascript" src="../static/vue.js"></script>
<script type="text/javascript" src="../static/faces.js"></script>

</body>
</html>
