<!DOCTYPE html>
<html>
<head>
	<title>Face Recognition</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
	<div id="app" class="main">
		<div id="menu">
			<div class="logo">
				<div class="logo-icon"></div>
				<span class="logo-title">FaceRecognition</span>
			</div>
			<div class="menu-items">
				<div class="menu-item">
					<img src="../static/img/icons/events.png" class="menu-item-icon">
					<div class="menu-item-title">События</div>
				</div>
				<div class="menu-item">
					<img src="../static/img/icons/camera.png" class="menu-item-icon">
					<div class="menu-item-title">Камеры</div>
				</div>
			</div>
		</div>
		<div id="page">
			<div class="page-top">

			</div>
			<div class="page-body">
				<div class="events-table">
					<div class="events-table__headers">
						<span class="employ">Employee</span>
						<span class="camera">Camera</span>
						<span class="time">Time</span>
					</div>
					<div v-for="item in items" v-bind:class="item.isUnknown">
						<div class="main-info">
							<img v-bind:src="item.photo" class="photo">
							<div class="name">[[ item.name ]]</div>
						</div>
						<div class="camera">[[ item.camera ]]</div>
						<div class="time">[[ item.datetime ]]</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<script type="text/javascript" src="../static/vue.js"></script>
<script type="text/javascript" src="../static/main.js"></script>

</body>
</html>
